h1{
    font-family: 'Arimo', sans-serif;
    color: black;
    font-size: 20pt;
    text-align: left;
    font-weight: bold;
    display: inline-block;
}
h3 {
    font-family: 'Arimo', sans-serif;
    color:black;
    text-align:right;
    font-size: 11pt;
    float: right;
    display: inline-block
}
.table_head{
    background-color: #5b92c9;
    font-weight:bold;
    color:white;
}

.table {
  width: 50%;
}

table {
  display: inline-block;
  float: left;
}

body {
  font-family: 'Arimo', 'sans-serif';
  font-size: 11pt;
}

.container-fluid {
  float: center;
}

.header-btn {
  display: inline-block;
  float: left;
}
