<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Phone List Generator</title>
        <link rel = "stylesheet" href="{{ url_for('static', filename='css/homecss.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Gothic+A1&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Errors Occurred!</h1>
        <p id="msg">hi</p>
        <script>
        var errorCode = parseInt({{ code }});
          if (errorCode == 0) {
            document.getElementById("msg").innerHTML = "No options were chosen. Go back and pick at least one option.";
          }

          else if (errorCode == 1) {
            document.getElementById("msg").innerHTML = "Option to upload an existing file was chosen, but no file was provided. Go back and provide the file name.";
          }

          else {
            document.getElementById("msg").innerHTML = "?";
          }
        </script>
    </body>
</html>

