<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Phone List Generator</title>
        <link rel = "stylesheet" href="{{ url_for('static', filename='css/homecss.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Gothic+A1&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Errors Occurred!</h1>
        <p id="errorMsg"></p>
        <script>
          function getErrorMsg(code) {
            return "hi";
          }
          document.getElementById("errorMsg").innerHtml = getErrorMsg(5);

        </script>
    </body>
</html>

