<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Phone List Generator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel = "stylesheet" href="{{ url_for('static', filename='css/generatorcss.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet">
    </head>
    <body>
      <h1>Electrical and Computer Engineering</h1>
      <p id="date"></p>
      <script>
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
      </script>
      <div class="container-fluid overflow-auto">
      {% for table in result %}
        <table class="table table-striped w-auto table-bordered table-responsive">
          <thead>
            <tr class="table_head">
              <th>Name</th>
              <th>Email</th>
              <th>Title</th>
              <th>Phone</th>
              <th>Room</th>
              <th>Building</th>
            </tr>
          </thead>
          <tbody>
            {% for person in table %}
             <tr>
                {% for value in person %}
                  <td class="table_vals overflow-auto" contenteditable="true">{{ value }} </td>
                {% endfor %}
             </tr>
            {% endfor %}
          </tbody>
        {% endfor %}
      </div>
    </body>
</html>

